<div>
    <div class="uk-button-group">
        <button class="uk-button uk-button-default uk-text-muted" type="button">Filters</button>
        <div  uk-dropdown>
             <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header">Filters</li>
                <li class="uk-nav-divider"></li>
                <li class="uk-active uk-nav-header"><a href="#">Gender</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li class="uk-nav-header">Category</li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Item</a></li>
             </ul>
        </div>
    

    
        <button class="uk-button uk-button-default uk-text-muted" type="button" >Sort</button>
        <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav ">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
    </div>
</div>