<nav class ="uk-navbar uk-margin-left">
    <div class="uk-navbar-left uk-flex-nowrap">
        <a uk-navbar-toggle-icon 
            class="uk-navbar-toggle uk-hidden@m uk-padding-remove-left"
            href="#hamburger-menu"
            uk-toggle></a>
    </div>
    <div class="uk-navbar-left uk-flex-nowrap">
        <a href="#" class="uk-navbar-item uk-logo">
            <img src="assets/blogo.jpg" 
            width="166"
            />
        </a>
    </div>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-margin-left uk-visible@m">
            <li><a href="#">MEN</a></li>
            <li><a href="#">WOMEN</a></li>
            <li><a href="#">MOBILE COVER</a></li>
            <li><a href="#">END OF SEASON SALE</a></li>
        </ul>
    </div>


    
     
        
    
    <div class="uk-navbar-item uk-flex-nowrap uk-navbar-right">
        <span class="uk-margin-small-right uk-text-emphasis" uk-icon="search" width="25"></span>
        <span class="uk-margin-small-right uk-visible@l" uk-icon="user"width="25"></span>
        <span class="uk-margin-small-right uk-text-warning" uk-icon="heart"width="25"></span> 
        <span class="uk-margin-small-right" uk-icon="cart"width="25"></span>        
    </div>
</nav>

<div id="hamburger-menu"uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
                <li><a href="#">MEN</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">MOBILE COVER</a></li>
                <li><a href="#">END OF SEASON SALE</a></li>
        </ul>
        <button
            class="uk-offcanvas-close"
            type ="button"
            uk-close>
        </button>
    </div>
</div>